.head {

    color: #ffffff;
    background-image: url("img-twitch/cabecera.PNG");
    background-repeat: no-repeat, repeat;
    background-position: right;
    background-color: #000000;
    max-height: 132px;
    min-height: 132px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    vertical-align: middle;
    align-items: end;
}


.titulo h1 {
    font-size: 45px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: bold;
    color: #F56318;
    text-shadow: #0b94bd 0px 0px 10px;
    vertical-align: middle;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 17px;
    display: flex;
}

.botones {
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 17px;
    padding-right: 17px;
}

.boton-acceso {
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    background-color: #649c03;
    border: 0;
    border-radius: 40px;
    padding: 10px 45px;
    margin: 18px 0 18px 15px;
    float: right !important;
    transition: background-color .5s;
    text-decoration: none !important;
    display: flex;
    align-items: ;
}

.boton-registrar {
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    background-color: #0055FE;
    border: 0;
    border-radius: 40px;
    padding: 10px 45px;
    margin: 18px 0 18px 15px;
    float: right !important;
    transition: background-color .5s;
    text-decoration: none !important;
    display: block;
}

.twitch-embed {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.twitch-iframe {

    margin-top: 50px;
    padding-top: 17px;
    background-color: #323f48;
    border-bottom: solid 4px #649c03;
    border-top: solid 4px #649c03;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;

}

.twitch-iframe .item {
    display: grid;
    grid-auto-flow: column;

    grid-template-rows: 0fr 1fr;
    margin-top: 10px;
    padding-top: 17px;
    background-color: #323f48;

    align-items: center;
    align-content: center;
    text-align: center;
}


.twitch-iframe label {
    display: grid;
    color: #F56318;
    font-size: 30px;
    text-shadow: #649c03 0px 0px 10px;
    padding-bottom: 17px;
    border-bottom: solid 4px #649c03;

}

.twitch-iframe img {
    padding-top: 20px;

}
.return {
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 17px;
    padding-right: 17px;
    text-align: center;
}

.return-buttom {
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    background-color: #0055FE;
    border: 0;
    border-radius: 40px;
    padding: 10px 45px;
    margin: 18px 0 18px 15px;
    width: 100px;
    transition: background-color .5s;
    text-decoration: none !important;
    display: inline-block;
    text-align: center;
}
#openTwitch {
    width: 100%;
    height: 700px;
}

.head {

    color: #ffffff;
    background-image: url("img-twitch/cabecera.PNG");
    background-repeat: no-repeat, repeat;
    background-position: right;
    background-color: #000000;
    max-height: 132px;
    min-height: 132px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    vertical-align: middle;
    align-items: end;
}


.titulo h1 {
    font-size: 45px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: bold;
    color: #F56318;
    text-shadow: #0b94bd 0px 0px 10px;
    vertical-align: middle;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 17px;
    display: flex;
}

.botones {
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 17px;
    padding-right: 17px;
}

.boton-acceso {
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    background-color: #649c03;
    border: 0;
    border-radius: 40px;
    padding: 10px 45px;
    margin: 18px 0 18px 15px;
    float: right !important;
    transition: background-color .5s;
    text-decoration: none !important;
    display: flex;
}

.boton-registrar {
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    background-color: #0055FE;
    border: 0;
    border-radius: 40px;
    padding: 10px 45px;
    margin: 18px 0 18px 15px;
    float: right !important;
    transition: background-color .5s;
    text-decoration: none !important;
    display: block;
}

.twitch-embed {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.twitch-iframe {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #222;
    width: 100%;
    display: flex;
    flex-grow: 1;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);

    grid-gap: 20px;
}

.twitch-iframe .item {
    display: grid;
    grid-auto-flow: column;

    grid-template-rows: 0fr 1fr;
    padding-top: 17px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #323f48;

    align-items: center;
    align-content: center;
    text-align: center;
}


.twitch-iframe label {
    display: grid;
    color: #F56318;
    font-size: 30px;
    text-shadow: #649c03 0px 0px 10px;
    padding-bottom: 17px;
    border-bottom: solid 4px #649c03;

}

.twitch-iframe button {
    background: transparent;
    border: 0px;
}

.twitch-iframe img {
    padding-top: 20px;

}
.video {
    flex-grow: 1;
}